*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

@import url(./variables.css);


body{
    background-color: rgb(14, 14, 14);
    color: var(--color-background);
    font-family: var(--font-family-base);
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: var(--space-10);
}

/*  Buttons */

.btn{
    padding: var(--space-2) var(--space-3);
    border: none;
    border-radius: var(--radius-md);
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.btn:hover{
    transform: scale(1.2);
}


/* info */

.infos{
    display: flex;
    justify-content: space-between;
    padding: var(--space-6) 0;
    text-align: center;
}

.info{
    display: flex;
    gap: var(--space-2);
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    padding: var(--space-2);
    border-radius: var(--radius-lg);
}


.board{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    border: 1px solid var(--color-secondary);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px,1fr));
}


.box{
    height: 50px;
    width: 50px;
    border: 1px solid var(--color-secondary);
}


.fill{
    background-color: var(--color-border);
}


.food{
    background-color: var(--color-danger);
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.802);
    backdrop-filter: blur(4px);
    z-index: 30;
}

.modal .start, .modal .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-6);

}

.modal .game-over{
    display: none;
}